#container-box {
  display: flex;
  width: 420px;
  height: 200px;
  border: 2px solid black;
  background-color: bisque;
}
.box {
  width: 80%;
  height: auto;
  border: 1px solid black;
  background-color: white;
}
.box:nth-child(1) {
  background-color: bisque;
}
.box:nth-child(2) {
  background-color: red;
}
.box:nth-child(3) {
background-color: bisque;  
}
.box:nth-child(4) {
  background-color: red;
  
}
img {
  width: 100%;
  height: 150px;
}