#container-box {
    display: flex;
    width: 320px;
    height: 130px;
    border: 2px solid brown;
    background-color: bisque;
    flex-direction: row;

}

.box {
    width: 25%;
    height: auto;
    border: 1px solid burlywood;
}
.box:hover {
    color: aquamarine;
}

.box:nth-child(2),
.box:nth-child(4) {
    background-color: rgb(234, 181, 143);
}

.box:nth-child(1),
.box:nth-child(3) {
    background-color: rgb(244, 138, 62);
}

img {
    width: 100%;
    height: 100px;
}

span {
    font-size: 8px;
}